# new2
* {
    box-sizing: border-box;
    font-family: Tahoma, Verdana,Lucida Sans Unicode;
}

html,
body {
    /*font-size: 50%;*/
    width: 100%;
    height: 100%;
}

body {
    background: url(https://images.unsplash.com/photo-1518317507427-5346735246ab?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f79bbbf1ef58195f7585a0d5f7732569&auto=format&fit=crop&w=1050&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.cta {
    background: rgba(255,255,255,.8);
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    margin: 1rem;
    padding: 1rem;
    border: 2px solid rgba(0,0,0,.1);
}

.subscribe {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.subscribe label,
.subscribe input,
.subscribe button {
    margin: .625rem 0 .25rem;
    padding: .25rem;
}

.subscribe input {
    margin-top: .250rem;
}

.subscribe button {
    padding: 0.5rem;
}

@media screen and (max-width:1024px) {
    .cta {
        width: 400px;
    }
}

@media screen and (max-width:480px) {
    .cta {
        width: 100%;
        margin: 0;
    }
}
